/*------------------------------------

Disroot Howto Main style Sheet
17-06-2019
------------------------------------*/

/* Fonts */

@import url("fonts.css");
@import url("fork-awesome/css/fork-awesome.min.css");

/* Normalize - https://github.com/necolas/normalize.css/ */
/*
@import url("normalize.css");
*/

/* Defaults
------------------------------------*/

@import url("defaults.css");

/* Core Stuff */
:root {
  --main-bg-color: White ;
  --primary-color: #50162D;
  --secondary-color: #1F5C60;
  --alternative-color: #8EB726;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#top {
    margin: 0 auto;
}

body {
    font-size: 1rem;
    line-height: 2;
    color: var(--secondary-color);
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'ofl_sorts_mill_goudy', sans-serif;
   font-weight: bold;
    color: var(--secondary-color);
    line-height: 2;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color);
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

/* Utility Classes */
.wrapper {
    margin: 0 3rem;
}


/* Simple search plugin  */

.search-wrapper form {
}

.simplesearch {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
}

.search-title h3 {
  color: white;
  background-color: #1F5C60;
  border-radius: 5px;
	padding: 0.4% 1%;
}

.search-title h3 a {
  color: white;
	text-decoration: none;
}

.search-item h1 {
 font-size: 20px;
}

.search-item h2 {
 font-size: 16px;
}

.search-item img {
 height: 50px;
}


/* Howto: Services  */

#flex {
  margin-top: -50px;
  width: 80vw;
  position: relative;
  left: calc(-40vw + 55%);
/*  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;*/
}

#flex .columns {
  height: 600px;
  /*border: none;
  border-radius: 0px;
  box-shadow: 10px 10px 38px 0px rgba(0, 0, 0, 0.25);
  width: 23%;
  margin: 1%;*/
}

#flex .three {
  padding-right: 60px;
  margin-bottom: 80px;
}

#flex hr {
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

#flex img {
  width: 50px;
  height: 50px;
  position:relative;
  top: 45px;
  left: 25%;
  filter: none;
  background-color: none;
  box-shadow: none;
}

.padding {
    padding: 3rem 1rem;
}

.left {
    float: left;
}

.right {
    float: right;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.inline {
    display: inline-block;
    margin: 0 1%;
}

.content img:not(.inline) {
  display: block;
  margin: 2% auto;
  max-width: 80%;
  max-height: 500px;
}

.content a {
    color: var(--primary-color);
}

.notices.red {
  background-color: #efeeee;
  color: var(--primary-color);
  border-color: var(--alternative-color);
}

.notices {
  font-size: 90%;
}

/* Content Styling */
.header .padding {
    padding: 0.5rem 0;
}

.header {
    background-color: var(--primary-color);
    color: #eee;
    position: fixed;
    width: 100%;
    z-index: 999;

}

.header a {
    color: #fff;
}

.header .logo {
    font-size: 1.7rem;
    text-transform: uppercase;
}


.footer {
    background-color: #eee;
}

/* Menu Settings */

.main-nav {
}

.main-nav ul {
    display: flex;
    justify-content: space-between;
    text-align: left;
    letter-spacing: -1em;
    margin: 0;
    padding: 0;
}

.main-nav ul li {
    display: inline-block;
    letter-spacing: normal;
}

.main-nav ul li a {
    position: relative;
    display: block;
    line-height: 30px;
    color: #fff;
    padding: 0 10px;
    white-space: nowrap;
}

.main-nav > ul > li > a {
    border-radius: 2px;
}

/*Active dropdown nav item */
.main-nav ul li:hover > a {
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

/* Selected Dropdown nav item */
.main-nav ul li.selected > a {
    background-color: #fff;
    color: var(--secondary-color);
}

.main-nav ul li.selected > a:hover{
  font-weight: bold;
}


/* Dropdown CSS */
.main-nav ul li {position: relative;}

.main-nav ul li ul {
    position: absolute;
    background-color: var(--primary-color);
    min-width: 100%;
    text-align: left;
    z-index: 999;

    display: none;
}
.main-nav ul li ul li {
    display: block;
}

/* Dropdown CSS */
.main-nav ul li ul ul {
    left: 100%;
    top: 0;
}

/* Active on Hover */
.main-nav li:hover > ul {
    display: block;
}

/* Child Indicator */
.main-nav .has-children > a {
    padding-right: 30px;
}
.main-nav .has-children > a:after {
    font-family: ForkAwesome;
    content: '\f107';
    position: absolute;
    display: inline-block;
    right: 8px;
    top: 0;
}

.main-nav .has-children .has-children > a:after {
    content: '\f105';
}

/* hide toggle button */
.main-nav > a.mobile-btn {
  display: none;
  opacity: 1; }

/* Language selector */

.language-selector .btn {
    position: relative;
    top: 20px;
    color: #b9a2ab;
    background-color: #50162D;
    border-color: #50162D;
    font-size: 1.2rem;
}

.language-selector .btn i {
    position: absolute;
    top: 25px;
    right: 15px;
}

.language-selector .dropdown-menu {
  color: #b9a2ab;
  background-color: #50162D;
  border-color: #50162D;
  top: 20px;
  font-size: 1.1rem;
}

.language-selector .dropdown-menu li:hover {
    background-color: #8EB726;
}

.language-selector .dropdown-menu>li>a {
  color: #b9a2ab;
}

ul#nav li a:hover {
  color: var(--secondary-color);
  opacity: 1;
}

/* Volor bar */
.body-top {
  width: 100%;
  height: 80px;
  background: var(--primary-color);
  transform: skew(0deg, 1deg) translateY(-10px);
}

.topbar {
  color: var(--alternative-color);
  margin: 10px 0;
}

.search {
    background: #fff;
    padding: 0.5em;
}

.search-wrapper input {
    color: #eee;
    background: #333;
    height: 50px;
    border-radius: 10px;
}

.topic-list {
  margin-top: 30px;
}

.topic-item {
  margin: 8px;
  padding: 15px;
  min-height: 130px;
  /*border-radius: 10px;
  border: 2px solid var(--alternative-color);*/
  border: none;
  border-radius: 10px;
  box-shadow: 10px 10px 38px 0px rgba(0, 0, 0, 0.25);
  margin: 2%;
  line-height: 1.2;
}

.topic-item a{
  color: #555;
}

.topic-item h4{
  margin: 0;
}

.topic-list img {
  width: 70%;
  margin-left: 15%;
  filter: grayscale(100%);
}

.topic-list img:hover {
  filter: grayscale(30%);
}

/* parent pages */

.three {
  display: block;
  min-height: 250px;
}

.three > h6:first-child {
  position: absolute;
  top: 130px;
}

.three img {
  background-color: #fff;
  box-shadow: 10px 10px 38px 0px rgba(0, 0, 0, 0.25);
  height: 100px;
}


/* topbar */



/* sidebar */

#sidebar {
    width: 250px;
    padding-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.page-toc {
    max-width: 250px;
    padding: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1rem;
    margin-top: 5rem;
    font-size: 0.7rem;
    overflow: hidden;
    border: none;
    border-radius: 0px;
    background: #efeeee;
}
.page-toc:hover {
    box-shadow: 10px 10px 38px 0px rgba(0, 0, 0, 0.25);
}
    .toc-toggle {
        font-size: 1.2rem;
        display: block;
        float: right;
        margin-right: -10px;
        padding: 5px 10px;
        line-height: 1;
        color: lighten($body-font-color, 20%);
        cursor: pointer;
    }

    .toc-closed {
        height: 40px;
        margin-bottom: 0.5rem;
    }
    .toc-closed .toc-toggle .fa:before {
            content: '\f107';
    }

    .page-toc h5 {
        margin: 0 0 1rem;
    }

    .page-toc ul {
        margin-left: 0rem;
        margin-bottom: 0;
        padding-left: 20px;
    }

    .page-toc ul li {
        margin-top: 0;
        list-style: decimal;
        color: lighten($body-font-color, 30%);
    }
    .page-toc ul li li {
        list-style: square;
    }

    .page-toc ul li{
      padding-left: 0;
    }
